@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-size: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: var(--background-size);
    width: 100%;
    background-color: black;
}

.wrapper {
    width: 100%;
    height: var(--background-size);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.mainGrif {
    position: absolute;
    width: 100%;
    height: 80%;
}
.welcome {
    position: absolute;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    width: 40%;
    height: 400px;
    z-index: 1;
    align-self: start;
    margin-right: 55%;
}
.welcome p {
    color: #331C41;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.welcome p span {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.progressBar {
    position: fixed;
    height: 3px;
    background-color: blueviolet;
    z-index: 2;
    align-self: start;
}
.topBtn {
    background-color: #331C41;
    position: fixed;
    width: 20%;
    height: 30px;
    margin-top: 45.5%;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.activeTopBtn {
    transform: translateY(-30px);
}
.topBtn:hover {
    box-shadow: 1px 1px 20px #c76eff;
}
